@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the home page for DarkProrok eco-system</p>
    <p>My site's:</p>
    <ul>
        <li><a href="https://app.dark.dev/about">MoneyTracking app</a></li>
        <li><a href="/auth/register">Сервис аутентификации</a></li>
    </ul>
</div>